*{
   
}
html,body,#app{
   height: 100%;
   width: 100%;
}
body{
   margin: 0;
   padding: 0;
   color: text;
   font-family: Helvetica Neue, Arial, sans-serif;

}
.page-element{
   display: flex;
   justify-content: center;
}
.page-element  > div{
      width: 100%;
      max-width: 1400px;
   }


header > div{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header h1{
   display: inline-block;
   margin: 15px 0;
}

header .book-finder{
   float: right;
   display: flex;
   align-items: center;
}
header .book-finder ul{
   display: inline-block;
   margin: 0 25px 0 0;
   padding: 0;
   list-style: none; 
}
header .book-finder ul li{
   float: left;
   padding: 5px 5px;
   margin: 4.5px;
   border-top: 2px solid white;
   border-bottom: 2px solid white;
   transition: .1s ease-out;
   
   
}
header .book-finder ul li a{
   color: lightgreen;
   text-decoration: none;
   
}
header .book-finder form{
   display: inline-block;
}
header .book-finder form input[type="text"]{
   width: 130px;
   border: 2px solid lightgreen;
   height: 25px;
   padding: 0 3px;
}
header .book-finder form input[type="submit"]{
   background: lightgreen;
   border: 0;
   color: white;
   padding: 0 7.5px;
   float: right;
   height: 29px;
   cursor: pointer;
}
header #mobile-hamburger-menu-icon{
   display: none;
}



h1.product-page {
  font-weight:800;
  margin: 0 0 20px;
  padding:0;
  font-size:26px;
  color:#1BB0CE;
}
h2.product-page {
  font-weight:800;
  margin: 0 0 20px;
  padding: 0;
  font-size:18px;
  color:#1bb0ce;
}
p {
  margin: 0 0 20px;
  padding: 0;
}
p.product-info-meta {
  margin:0;
}
p.product-body {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
.padding {
  padding: 20px;
}
.container {
  width:982px;
  margin:0 auto;
  background:#fff;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  padding: 0;
}

.product-container {
  margin:0 0 20px;
}
.product-left-container {
  width:542px;
  padding: 20px;
  min-height:200px;
  float:left;
}
.product-col-container {
  width: 360px;
  padding: 20px;
  min-height:200px;
  float:left;
}
.main-product-container .product-left-container {
  background:#ededed;
  min-height: 440px;
  border-bottom: 1px solid #ddd;
}
.main-product-container .product-col-container {
  background:#fafafa;  
  min-height: auto;
  border-bottom: 1px solid #ddd;
  border-left:1px solid #ddd;
  width: 359px;
}
.quantity {
  height: 40px;
  line-height: 38px;
  float:left;
  border:1px solid #ddd;
  display:inline-block;
  border-right:0;
  padding: 0 20px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
button {
  margin:10px;
  background: #53b5aa;
	border: 1px solid #999;
	border-style: none none solid none;
	cursor: pointer;
	display: block;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	padding: 16px 0;
	width: 290px;
	text-align: center;
    margin-left: 40px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.product-price {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  background:#fff;
}
.product-price-meta {
  font-size:12px;
  font-style: italic;
  font-weight: 400;
}
.price {
  color:#1BB0CE;
  font-weight:800;
}
.old-price {
  text-decoration: line-through;
  font-weight: 400;
  color:#888;
  display:inline-block;
  margin: 0 5px 0;
}

.leftcolumn { 
  border: 1px solid;
  border-color:#E4E4E4;
  border-radius : 5px;
  display: inline;
  color: #333;
  width: 300px;
  height: auto;
  float: left;
  margin:60px 10px 10px 10px;
  padding:20px;
  text-align: center;
 }

 .book1{
   position: relative;
   width: 250px;
   height: 68px;
   padding: 0px 10px;
 }

.write-review-button{
  position: absolute;
  margin-left: 270px;
  margin-top: 20px;
  background-color: #1BB0CE; 
  color:#fff; 
  font-size: 20px; 
  border:none; 
  border-radius: 3px;
}

.delete-review-button{
  position: relative;
  
  margin-left: 1px;
  /*margin-top:-100px;*/
  background-color: #1BB0CE;
  color:#fff;
  font-size: 15px;
  border:none;
  width:42px;
  font-size:15px;
  border-radius: 5px;
  height: 32px;

}
.update-review-button,.appear-update-review-form-button{
  position: relative;
  
  margin-left: 305px;
  /*margin-top:-100px;*/
  background-color: #1BB0CE;
  color:#fff;
  font-size: 15px;
  border:none;

  width:42px;
  font-size:15px;
  border-radius: 5px;
  height: 32px;
}

.delete-review-button:hover{
  background-color: #000000;
  color:#444;
}
.update-review-button:hover{
  background-color: #000000;
  color:#00ff00;
}
.appear-update-review-form-button:hover{
  background-color: #000000;
  color:#00ff00;
}
.review-star {
  display: none;
}
.review-text{
  display: none;
}
.user-id{
  display: none;
}

.footer{
  /*footerの装飾*/
  width: 100%;
  background-color: #89c7de;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  margin-top: 20px;
}


.write-review-area{
  resize: none; width: 100%; height: 130px;
}



/*star image*/
.star-image{
  width: 25px;
}

.wishlist-result{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index:1009;
  overflow:auto;
  right: 0;
  top:0;
  background:  rgba(40,40,40, .75);
  /*display:none;*/
  overflow-y: scroll;
  /*transition: opacity 1s, z-index 0s 1s;*/
}

[aria-hidden="true"] {
  transition: opacity 1s, z-index 0s 1s;
  width: 100%;
  z-index: -1010; 
  opacity: 0;  }

[aria-hidden="false"] {
  transition: opacity 1s;
  width: 100%; 
  z-index: 1010;
  opacity: 1;
}
.wishlist-result-x{
  width:400px;
  max-width: none;
  visibility: visible;
  position: relative;
  top:100px;
  left: 0;
  height: 300px;
  max-height: none;
  opacity: 1;
  display:inline-block;
  background-color: white;
  border-radius: 5px;
}
.close-button{
  height:30px;
  position: relative;
  background-color: #ae7acc36;
  color:red;
  line-height: 30px;
  font-weight: bold;
}

.noscroll { overflow: hidden; }

@media (min-device-width: 1025px) {
  .noscroll { 
      padding-right: 17px;
  }
}

