*{
    margin:0;   
    padding:0;
}

html{
    margin:auto;
    font-family: Segoe UI;
    background-color: #eee;
    color: #333333;
    -webkit-font-smothing: antialiased;
    text-align: justify;

}

a{
    text-decoration: none;
    color: inherit;
}

ul, li{
    list-style: none;
}

header{
    border-bottom: 1px solid;
  }
  
  header > div {
    width:90%;
    min-width:1000px;
    /* max-width:1200px; */
    height:80px;
    margin: 0 auto;
  }
  
  header .logo{
    float: left;
    margin-top:15px;
  }
  
  header .gnd{
    float: right;    
  }
  
  header .gnd li{
    display: inline-block;
    margin-top:28px;
    margin-left: 30px;   
  }
  
  header .gnd li:first-child{
    margin-left: 0px;
  }