*{
    margin:0;   
    padding:0;
}
a{
    text-decoration: none;
    color: inherit;
}

ul, li{
    list-style: none;
}

header{
    border-bottom: 1px solid;
  }
  
  header > div {
    width:90%;
    min-width:1000px;
    /* max-width:1200px; */
    height:80px;
    margin: 0 auto;
  }
  
  header .logo{
    float: left;
    margin-top:15px;
  }
  
  header .gnd{
    float: right;    
  }
  
  header .gnd li{
    display: inline-block;
    margin-top:28px;
    margin-left: 30px;   
  }
  
  header .gnd li:first-child{
    margin-left: 0px;
  }

  /* memu */
.memu_wrap{
    width:100%;
    min-width:1000px;
    /* max-width:1200px; */
    height:68px;
    margin: 0 auto;
    text-align: center;
    z-index: 1000;
}

.memu_wrap .dep1{
    font-size: 0;
   
}

.memu_wrap .dep1 > li{
    display: inline-block;
    width: 500px;
    height: 68px;
    background: #ddd;
    vertical-align: top;
    text-align: center;
    font-size: 25px;

    /* z-index: 50; */
}

.memu_wrap .dep1 > li:hover > .dep2{
    display:block;
}

.memu_wrap .dep1 > li:hover > a{
    background: purple;
    color: #fff;
}

.memu_wrap .dep1 > li > a{
    display: block;
    padding: 10px 0;
    width: 500px;
    height: 48px;
    z-index: 2;
}

.memu_wrap .dep2{
    display: none;
    background: pink;
    z-index: 3;
}
/* ul.dep2 li a{
    z-index: 5;
} */

.memu_wrap .dep2 a{
    display: block;
    padding: 10px 0;
}

.memu_wrap .dep2 a:hover{
    text-decoration: underline;
}