

*{box-sizing: border-box;}
html,body,#app{
   height: 100%;
   width: 100%;
}
body{
   margin: 0;
   padding: 0;
   color: text;
   font-family: Helvetica Neue, Arial, sans-serif;

}
.page-element{
   display: flex;
   justify-content: center;
}
.page-element  > div{
      width: 100%;
      max-width: 1024px;
   }


header > div{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header h1{
   display: inline-block;
   margin: 15px 0;
}
header h1 .big-logo{
   margin-top: 10px;
   width: 215px;
}
header h1 .big-logo-text{
   display: inline-block;
   text-indent: -9999999px;
   line-height: 0px;
}
header .book-finder{
   float: right;
   display: flex;
   align-items: center;
}
header .book-finder ul{
   display: inline-block;
   margin: 0 25px 0 0;
   padding: 0;
   list-style: none; 
}
header .book-finder ul li{
   float: left;
   padding: 5px 5px;
   margin: 4.5px;
   border-top: 2px solid white;
   border-bottom: 2px solid white;
   transition: .1s ease-out;
   
   
}
header .book-finder ul li a{
   color: lightgreen;
   text-decoration: none;
   
}
header .book-finder form{
   display: inline-block;
}
header .book-finder form input[type="text"]{
   width: 130px;
   border: 2px solid lightgreen;
   height: 25px;
   padding: 0 3px;
}
header .book-finder form input[type="submit"]{
   background: lightgreen;
   border: 0;
   color: white;
   padding: 0 7.5px;
   float: right;
   height: 25px;
   cursor: pointer;
}
header #mobile-hamburger-menu-icon{
   display: none;
}


main #slider{
   background-image: url("http://ws2019.taipaweb.com/css-final-project/slider-1.jpg");
   background-size: cover;
   background-position: center;
   height: 275px;
}
main #slider > div{
   position: relative;
}
main #slider h2{
   display: inline-block;
   font-size: 22px;
   font-weight: bold;
   background: lightgreen;
   color: white;
   margin: 0;
   padding: 7px 15px;
   box-shadow: 1.5px 1.5px 4px rgba(0,0,0,.3);
   position: absolute;
   right: 0;
   bottom: 30px;
}
