<web-app>

	<welcome-file-list>
		<welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
	</welcome-file-list>

    <servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>FrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
 
    <!-- user login filter -->

    <filter>
        <filter-name>authenticatefilter</filter-name>
        <filter-class>filter.AuthenticateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authenticatefilter</filter-name>
        <url-pattern>/mypage</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authenticatefilter</filter-name>
        <url-pattern>/mycart</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>



     <!--(manager login) checkfilter -->
    <filter>
        <filter-name>logincheckmanager</filter-name>
        <filter-class>filter.LoginCheckManager</filter-class>
        <init-param>
	        <param-name>ManagerID</param-name>
	        <param-value>ECBookM</param-value>
	    </init-param>
	    <init-param>
	        <param-name>ManagerPass</param-name>
	        <param-value>manager</param-value>
	    </init-param>
    </filter>

    <filter-mapping>
        <filter-name>logincheckmanager</filter-name>
        <url-pattern>/managercall</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

     <!--(manager login) authenticate filter--> 
     <filter>
        <filter-name>authenticatemanager</filter-name>
        <filter-class>filter.AuthenticateManager</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>authenticatemanager</filter-name>
        <url-pattern>/managercall</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    

</web-app>