*{
    margin:0;   
    padding:0;
}
a{
    text-decoration: none;
    color: inherit;
}

ul, li{
    list-style: none;
}


header{
    border-bottom: 1px solid;
}

header > div {
    width:90%;
    min-width:1000px;
    /* max-width:1200px; */
    height:80px;
    margin: 0 auto;
}

header .logo{
    float: left;
    margin-top:15px;
}

header .gnd{
    float: right;    
}

header .gnd li{
    display: inline-block;
    margin-top:28px;
    margin-left: 30px;   
}

header .gnd li:first-child{
    margin-left: 0px;
}

/* container */
#idx_top{
    width:100%;
    height:500px;
    background:#ddd;
    /* no-repeat:50% 50% /cover */
}

/* memu */
.memu_wrap{
    width:100%;
    min-width:1000px;
    /* max-width:1200px; */
    height:68px;
    margin: 0 auto;
    text-align: center;
    z-index: 1000;
}

.memu_wrap .dep1{
    font-size: 0;
   
}

.memu_wrap .dep1 > li{
    display: inline-block;
    width: 500px;
    height: 68px;
    background: #ddd;
    vertical-align: top;
    text-align: center;
    font-size: 25px;
    /* z-index: 50; */
}

.memu_wrap .dep1 > li:hover > .dep2{
    display:block;
}

.memu_wrap .dep1 > li:hover > a{
    background: purple;
    color: #fff;
}

.memu_wrap .dep1 > li > a{
    display: block;
    padding: 10px 0;
    width: 500px;
    height: 48px;
    z-index: 2;
}

.memu_wrap .dep2{
    display: none;
    background: pink;
    z-index: 3;
}
/* ul.dep2 li a{
    z-index: 5;
} */

.memu_wrap .dep2 a{
    display: block;
    padding: 10px 0;
}

.memu_wrap .dep2 a:hover{
    text-decoration: underline;
}

/* item */

.list_wrap{
    position: relative;
    width:90%;;
    min-width: 1000px;
    margin: 0 auto;
    padding:100px;
    z-index: -4;
}
.list_wrap ul{
    font-size:0;
}

.list_wrap .item{
    display:inline-block;
    width: 30%;
    margin-top: 40px;
    margin-left:5%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    z-index:-3;
}

.list_wrap .item:nth-child(-n+3){
    margin-top: 0;
}

.list_wrap .item:nth-child(3n-2){
    margin-left: 0;
}

.list_wrap .item .image {
    width: 100%;
    height: 300px;
    background: url(img/noimage.jpg);
    background-repeat: no-repeat;
    z-index: 1;
}

.list_wrap .item .cont{
    padding: 20px;
}

.list_wrap .item strong{
    display: block;
    margin: 0 0 10px 0;
    font-size: 16px;
    letter-spacing: -1px;
}

.list_wrap .item p{
    font-size: 13px;
    letter-spacing: -1px;
}

.list_wrap .item a{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #eee;
    font-size: 13px;
    letter-spacing: -1px;
}

.list_wrap .item a:hover{
    background: #345cb2;
    color: #ddd;
}


.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px, auto;
    text-align: center;
    border: 2px solid #3498bd;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

/* .box input[type = "submit"]{

} */

